[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
requests-cache = "*"
beautifulsoup4 = "*"
lxml = "*"
flask = "*"
frozen-flask = "*"
flask-assets = "*"
flask-pymongo = "*"
jsmin = "*"
editdistance = "*"
pyenchant = "*"
termcolor = "*"
unidecode = "*"
psutil = "*"
pronouncing = {editable = true,git = "https://github.com/aparrish/pronouncingpy"}
biopython = "*"

[requires]
python_version = "3.8"
