requests[security]
-e git+https://github.com/stringertheory/pronouncingpy.git#egg=pronouncing
lxml
beautifulsoup4
pymongo
nltk
-e git+https://github.com/datascopeanalytics/traces.git#egg=traces
spacy
PyWavelets
ipdb
pyenchant
unidecode
termcolor
cprofilev
functools32
editdistance
