{% extends "base.html" %}

{% block content %}
<script>
  var POEM_ID = {{poem._id}};
</script>
<div class="container">
  <div id="metadata" class="col-md-12">
    <h4>{{ poem.POET.0 }}</h4>
    <h3>{{ poem.title }}</h3>
  </div>
  <div id="poem" class="col-md-6">
    {{ poem.html|safe }}
  </div>
  <div id="meter" class="col-md-6">
    <div id="plumbing">
      {% for sentence in poem.stresses %}
      <div class="sentence">
	{% for word in sentence %}
	<li class="word stress-{{word}}">
	{% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="rhyme" class="col-md-12">
    <h4>Rhyme</h4>
  </div>
</div>
{% endblock content %}
