{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="poem col-md-6">
    <h4>{{ poem.POET.0 }}</h4>
    <h3>{{ poem.title }}</h3>
    {{ poem.html|safe }}
  </div>
  <div class="meter col-md-6">
    <h4>&nbsp;</h4>
    <h3>&nbsp;</h3>
    <div class="">
      {% for sentence in poem.stresses %}
      <div class="sentence">
	{% for word in sentence %}
	<li class="word stress-{{word}}">
	{% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="rhyme col-md-1"> -->
  <!--   <h2>Rhyme</h2> -->
  <!--   <div class=""> -->
  <!--     {% for sentence in poem.stresses %} -->
  <!--     <div class="sentence"> -->
  <!-- 	{% for word in sentence %} -->
  <!-- 	<div class="word stress-{{word}}"></div> -->
  <!-- 	{% endfor %} -->
  <!--     </div> -->
  <!--     {% endfor %} -->
  <!--   </div> -->
  <!-- </div> -->
</div>
{% endblock content %}
